################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ftp_client/.vs/ftp_client/v15/ipch
/ftp_client/Debug
/ftp_client/.vs/ftp_client/v15
/ftp_client/x64/Debug/ftp_client.tlog
/ftp_client/x64/Debug
